@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('/src/fonts/GothamProNarrow-Bold.woff2') format('woff2'),
        url('/src/fonts/GothamProNarrow-Bold.woff') format('woff'),
        url('/src/fonts/GothamProNarrow-Bold.ttf') format('truetype'),
        url('/src/fonts/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}




